
<div class="container">
    <div class="col-12">
        <h4>Orders page</h4>
        <table class="table table-bordered mb-4">
            <thead>
                 <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                 </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Orders">
                    <!-- <td>{{item.OrderID}}</td> -->

                  <td>
                    <!-- <a [routerLink]="['/orders-details', item.OrderID]">{{item.OrderID}}</a></td> -->
                     <a class="btn btn-primary"
                         (mouseover)="evtNavigation(item.OrderID)">
                         {{item.OrderID}}</a></td>
                    <td>{{item.OrderName}}</td>
                    <td>{{item.OrderLocation}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

